.App {
  min-height: 100%;
  height: max-content;
  place-content: center;
  background: center no-repeat url('./images/background.png');
  display: flex;
  justify-content: center;
}
.title{
  text-transform: uppercase;
  color: white;
}
.white-box{
  background: white;
  border-radius: 20px;
  width: 425px;
  position: relative;
}
.traveler{
  position: absolute;
  top: -70px;
  right: 0;
}
.question-grid{
  padding: 3em 2em;
  color: #2f527b;
}
.choice{
  display: flex;
  justify-content: space-between;
  border: 2px solid #2f527b;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px;
}
.choice span{
  margin: auto 0;
}
.choice:hover{
  background-color: #f9a826;
  border: 2px solid #f9a826;
  color: white;
}

.choice.right{
  background-color: #60bf88;
  border: 2px solid #60bf88;
  color: white;
}
.choice.wrong{
  background-color: #ea8282;
  border: 2px solid #ea8282;
  color: white;
}